<div>
    <nav class="nav">
        <ul class="navbuttons">
            <div class="navbuttons-bar">
                <li>
                    <button class="btnnav" onclick="navegar('/')"><a href="/" class="btnnav-a">Inicio</a></button>
                </li>
                {{#if adminUser}}
                <li>
                    <button class="btnnav" onclick="navegar('/uploadpdf')"><a href="/uploadpdf" class="btnnav-a">Subir
                            pdf</a></button>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/uploadaudio')"><a href="/uploadaudio"
                            class="btnnav-a">Subir
                            audio</a></button>
                </li>
                {{/if}}
                <li>
                    <button class="btnnav" onclick="navegar('/book')">
                        <a href="/book" class="btnnav-a">Libro</a>
                    </button>
                </li>
                <li class="dropdown">
                    <button class="dropdown-button">Escritos del alma</button>
                    <ul class="dropdown-content">
                        <li><a href="/escritosconmagia">Escritos con magia</a></li>
                        <li><a href="/caminodelasanacion">El camino de la sanación</a></li>
                        <li><a href="/loquesomos">Lo que somos</a></li>
                        <li><a href="/noblesverdades">Nobles verdades</a></li>
                    </ul>
                </li>
                <li>
                    <button class="btnnav actual-principal" onclick="navegar('/audios')"><a href="/audios"
                            class="btnnav-a">Audios</a></button>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/chat')"><a href="/chat" class="btnnav-a">Chat</a></button>
                </li>
            </div>
            {{#if userlogued}}
            <div>
                <li>
                    <div class="panel-user">
                        <span>{{userlogued.name}}</span>
                        <button onclick="logout()"><i class="bi bi-box-arrow-left"></i></button>
                    </div>
                </li>
            </div>
            {{else}}
            <li>
                <div class="panel-user">
                    <a class="panel-user-link" href="/login">Iniciar sesión</a>
                    <a class="panel-user-link" href="/register">Registrarse</a>
                </div>
            </li>
            {{/if}}
        </ul>
    </nav>
    <div class="div-audios">
        <div class="div-img">
            <img src="/static/images/mandalavioleta.webp" class="img-seccion" alt="Mandala violeta">
        </div>
        <div class="parrafo">
            <p class="parrafo-principal">Acá te comparto algunas palabras que sanan, para que las hagas tuyas y armes de
                a
                poco las
                propias. Hay meditaciones que te guían para activar tu luz y fortaleza.</p>
        </div>
        <div class="container-audios">
        {{#if audios}}
        {{#each audios}}
        <div class="div-audio">
            <button class="btn-delete-audio" onclick="borrarmp3('{{this._id}}')"><i class="bi bi-x-circle"></i></button>
            <h3>{{this.title}}</h3>
            <audio controls><source src="{{this.path}}">Tu navegador no soporta el audio, descargalo acá: <a href="{{this.path}}">Descargar</a></audio>
        </div>
        {{/each}}
        {{else}}
        <div><p>Todavía no hay audios</p></div>
        {{/if}}
        </div>
    </div>
</div>

<script src="/js/audios.js"></script>