<div>
    {{> navbar admin=admin userlogued=userlogued}}
    <div class="div-audios">
        <div class="div-img">
            <img src="/static/images/mandalavioleta.webp" class="img-seccion" alt="Mandala violeta">
        </div>
        <div class="parrafo">
            <p class="parrafo-principal">Acá te comparto algunas palabras que sanan, para que las hagas tuyas y armes de
                a
                poco las
                propias. Hay meditaciones que te guían para activar tu luz y fortaleza.</p>
        </div>
        {{> pagination hasPrevPage=hasPrevPage hasNextPage=hasNextPage prevPage=prevPage nextPage=nextPage backPages=backPages nextPages=nextPages pages=pages}}
        <div class="container-audios">
            {{#if audios}}
            {{#each audios}}
            <div class="div-audio">
                <h3>{{this.title}}</h3>
                <audio controls>
                    <source src="{{this.path}}">Tu navegador no soporta el audio, descargalo acá: <a
                        href="{{this.path}}">Descargar</a>
                </audio>
                {{#if this.comments}}
                <div class="div-pdf-coments">
                    {{#each this.comments}}
                    <div class="pdf-section-coments">
                        <p class="p-coment"><strong class="coment-name">{{this.comment.author}}</strong>: {{this.comment.text}}
                        </p>
                        <p class="coment-date">{{this.comment.created_at}}</p>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <div class="p-nocoments">
                    <p>Todavia no hay comentarios</p>
                </div>
                {{/if}}
                <div class="btn-coment" id="audio{{this._id}}">
                    <a href="/details/audio/{{this._id}}">Ir a comentar</a>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div>
                <p>Todavía no hay audios</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{!-- {{> chatbtn}} --}}
{{> footer}}

<script src="/js/audios.js"></script>