<div>
    <div class="nav-hamburger" id="navHamburger">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
    <nav class="nav" id="navMenu">
        <ul class="navbuttons">
            <div class="navbuttons-bar">
                <li>
                    <button class="btnnav" onclick="navegar('/')"><a href="/" class="btnnav-a">Inicio</a></button>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/book')">
                        <a href="/book" class="btnnav-a">Libro</a>
                    </button>
                </li>
                <li class="dropdown">
                    <button class="dropdown-button">Escritos del alma</button>
                    <ul class="dropdown-content">
                        <li><a href="/escritosconmagia">Escritos con magia</a></li>
                        <li><a href="/caminodelasanacion">El camino de la sanación</a></li>
                        <li><a href="/loquesomos">Lo que somos</a></li>
                        <li><a href="/noblesverdades">Nobles verdades</a></li>
                    </ul>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/audios')"><a href="/audios"
                            class="btnnav-a">Audios</a></button>
                </li>
            </div>
            <div>
                <li>
                    <div class="panel-user">
                        <span>{{user.name}}</span>
                        <button onclick="logout()"><i class="bi bi-box-arrow-left"></i></button>
                    </div>
                </li>
            </div>
        </ul>
    </nav>
    <div class="div-chats">
        <div class="div-chats-form">
            {{#if myChats}}
            {{#each myChats}}
            <div class="div-chats-user">
                <p><strong>{{this.user}}</strong>: {{this.text}}
                </p>
                <p class="coment-date">{{this.created_at}}</p>
            </div>
            {{/each}}

            {{else}}
            <div>
                <p>No hay mensajes, envía uno!</p>
            </div>
            {{/if}}
            <div class="div-form-chat">
                <form class="form-chat">
                    <div>
                        <label>Mensaje: </label>
                        <input type="text" name="text" id="message" />
                        <button id="btnmsg" class="btn-msg">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="div-all-chats">
            {{#each usersFiltred}}
            {{#if this.chat}}
            <div class="div-chats-users">
                <h2>Conversación con {{this.name}}:</h2>
                {{#each this.chat}}
                <div class="div-chats-user-all">
                    <p><strong class="coment-name">{{this.user}}</strong>: {{this.text}}
                    </p>
                    <p class="coment-date">{{this.created_at}}</p>
                </div>
                {{/each}}
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<script src="/js/charlas.js"></script>