<div>
    {{> navbar admin=admin userlogued=user}}
    <div class="div-chats">
        {{#if client}}
        <div class="div-btns-showcontent">
            <button class="btn-chat btn-pressed" id="btnChat" onclick="handleChangeContent(event)">Mi chat</button>
            <button class="btn-chat" id="btnUsersChats" onclick="handleChangeContent(event)">Otros chats</button>
        </div>
        <div class="div-chats-form" id="divMsgUser">
            <h3>Tu conversación con Luz en el Camino</h3>
            {{#if userChat.chat}}
            <div class="div-each-msg" id="divEachMsg">
                {{#each userChat.chat}}
                <div class="div-chats-user">
                    <div>
                    <strong>{{this.message.sender}}</strong>
                    <p>: {{this.message.text}}</p>
                    </div>
                    <p class="coment-date">{{this.message.created_at}}</p>
                </div>
                {{/each}}
            </div>
            {{else}}
            <div class="div-no-msgs">
                <p>No hay mensajes, envía uno!</p>
            </div>
            {{/if}}
            <div class="div-form-chat" id="divFormChat" data-user="{{user._id}}" data-name="{{user.name}}">
                    <input type="text" name="text" id="message" placeholder="Mensaje...." />
                    <button id="btnmsg" onclick="enviarMsg(event)" class="btn-msg">Enviar</button>
            </div>
        </div>
        {{/if}}
        {{> chats usersChatsFiltered=usersChatsFiltered admin=admin}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/charlas.js"></script>