<div>
    {{> navbar admin=admin userlogued=userLogued}}
    <div data-path="{{dataFile.path}}" data-id="{{dataFile._id}}" data-pdfName="{{dataFile.title}}" id="divPdf"
        class="pdf-libro">
        <h2 class="book-title">{{dataFile.title}}</h2>
        <div class="div-btnsnav-pdf">
            <button id="prev-page" class="btn-pdf-nav"><i class="bi bi-arrow-left"></i></button>
            <div>
                <canvas id="pdf-viewer" class="book"></canvas>
                <div class="div-download">
                    <p><a class="panel-user-link" href="{{dataFile.path}}">Descargar</a></p>
                </div>
            </div>
            <button id="next-page" class="btn-pdf-nav"><i class="bi bi-arrow-right"></i></button>
        </div>

        <div id="pdf-error-message" class="pdf-error-message">
            Tu navegador no puede mostrar este PDF. Puedes <a class="panel-user-link"
                href="{{dataFile.path}}">descargarlo
                aquí.</a>.
        </div>
    </div>

    {{> chatbtn}}
    {{> footer}}

    <script src="https://unpkg.com/pdfjs-dist@2.11.338/build/pdf.js"></script>
    <script src="/js/details.js"></script>