<div>
    <div class="nav-hamburger" id="navHamburger">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
    <nav class="nav" id="navMenu">
        <ul class="navbuttons">
            <div class="navbuttons-bar">
                <li>
                    <button class="btnnav" onclick="navegar('/')"><a href="/" class="btnnav-a">Inicio</a></button>
                </li>
                {{#if adminUser}}
                <li>
                    <button class="btnnav" onclick="navegar('/uploadpdf')"><a href="/uploadpdf" class="btnnav-a">Subir
                            pdf</a></button>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/uploadaudio')"><a href="/uploadaudio"
                            class="btnnav-a">Subir
                            audio</a></button>
                </li>
                {{/if}}
                <li>
                    <button class="btnnav" onclick="navegar('/book')">
                        <a href="/book" class="btnnav-a">Libro</a>
                    </button>
                </li>
                <li class="dropdown">
                    <button class="dropdown-button">Escritos del alma</button>
                    <ul class="dropdown-content">
                        <li><a href="/escritosconmagia">Escritos con magia</a></li>
                        <li><a href="/caminodelasanacion">El camino de la sanación</a></li>
                        <li><a class="actual" href="/loquesomos">Lo que somos</a></li>
                        <li><a href="/noblesverdades">Nobles verdades</a></li>
                    </ul>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/audios')"><a href="/audios"
                            class="btnnav-a">Audios</a></button>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/chat')"><a href="/chat" class="btnnav-a">Chat</a></button>
                </li>
            </div>
            {{#if userlogued}}
            <div>
                <li>
                    <div class="panel-user">
                        <span>{{userlogued.name}}</span>
                        <button onclick="logout()"><i class="bi bi-box-arrow-left"></i></button>
                    </div>
                </li>
            </div>
            {{else}}
            <li>
                <div class="panel-user">
                    <a class="panel-user-link" href="/login">Iniciar sesión</a>
                    <a class="panel-user-link" href="/register">Registrarse</a>
                </div>
            </li>
            {{/if}}
        </ul>
    </nav>
    <div class="pdf-section">
        {{#if escritos}}
        <div class="pdf-section-show">
            {{#each escritos}}
            <div class="pdf-section-each">
                <div class="pdf-section-each-header">
                    {{#if adminUser}}
                    <button class="btn-delete-pdf" onclick="borrarpdf('{{this._id}}')"><i
                            class="bi bi-x-circle"></i></button>
                    {{/if}}
                    <h5>{{this.title}}</h5>
                    <p><a href="/details/{{this._id}}">Ver pdf <i class="bi bi-filetype-pdf"></i></a></p>
                </div>
                {{#if this.comments}}
                {{#each this.comments}}
                <div class="pdf-section-coments">
                    <p><strong class="coment-name">{{this.name}}</strong>: <span
                            class="coment-text">{{this.coment}}</span>
                    </p>
                    <p class="coment-date">{{this.created_at}}</p>
                </div>
                {{/each}}
                {{else}}
                <div class="p-nocoments">
                    <p>Todavia no hay comentarios</p>
                </div>
                {{/if}}
            </div>
            {{/each}}
            {{else}}
            <div class="p-nopdf">
                <p>Todavia no hay pdfs</p>
            </div>
            {{/if}}
        </div>
        <div class="container-img"><img src="/static/images/dosmanos.webp" alt="" width="300" height="700"></div>
    </div>
</div>