<div>
    <div class="pdf-section">
        {{#if escritos}}
        <div class="pdf-section-show">
            {{#each escritos}}
            <div class="pdf-section-each">
                <div class="pdf-section-each-header">
                    <h5>{{this.title}}</h5>
                    <p><a class="" href="/details/{{this._id}}">Ver pdf <i class="bi bi-filetype-pdf"></i></a></p>
                </div>
                {{#if this.comments}}
                <div class="div-pdf-coments">
                    {{#each this.comments}}
                    <div class="pdf-section-coments">
                        <p class="p-coment"><strong class="coment-name">{{this.comment.author}}</strong>: {{this.comment.text}}
                        </p>
                        <p class="coment-date">{{this.comment.created_at}}</p>
                    </div>
                {{/each}}
                </div>
                {{else}}
                <div class="p-nocoments">
                    <p>Todavia no hay comentarios</p>
                </div>
                {{/if}}
            </div>
            {{/each}}
            {{else}}
            <div class="p-nopdf">
                <p>Todavia no hay pdfs</p>
            </div>
            {{/if}}
        </div>
        <div class="container-img"><img src={{categoryImage}} alt="" width="300" height="700"></div>
    </div>
</div>